<!doctype html>
<html lang="vi" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MaterialM - Mẫu Quản Trị Bootstrap Miễn Phí từ WrapPixel</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
    <!-- Nạp Toastr CSS -->
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-resource.min.js"></script>
    <script src="../assets/js/login.js"></script>
</head>

<body ng-controller="LoginController">
    <!-- Wrapper của trang -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">

        <div
            class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="../assets/images/logos/runflex.jpg" alt="Logo">
                                </a>
                                <p class="text-center">Mua Hàng Nhanh Chóng Cùng RunFlex</p>
                                <form ng-submit="register()" name="registerForm">
                                    <div class="mb-3">
                                        <label for="exampleInputUsername" class="form-label">Tên Tài Khoản</label>
                                        <input type="text" class="form-control" id="exampleInputUsername"
                                            ng-model="username" required>
                                    </div>

                                    <div class="mb-4">
                                        <label for="exampleInputPassword" class="form-label">Mật khẩu</label>
                                        <input type="password" class="form-control" id="exampleInputPassword"
                                            ng-model="password" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputFullName" class="form-label">Họ và Tên</label>
                                        <input type="text" class="form-control" id="exampleInputFullName"
                                            ng-model="fullName" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail" class="form-label">Địa chỉ Email</label>
                                        <input type="email" class="form-control" id="exampleInputEmail" ng-model="email"
                                            required>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng
                                        Ký</button>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">Đã có tài khoản?</p>
                                        <a class="text-primary fw-bold ms-2" href="../html/Login.html">Đăng Nhập</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>

</html>